[submodule "java-projects/java-design-patterns"]
	path = java-projects/java-design-patterns
	url = https://github.com/iluwatar/java-design-patterns.git
[submodule "python-projects/system-design-primer"]
	path = python-projects/system-design-primer
	url = https://github.com/donnemartin/system-design-primer.git
[submodule "java-projects/Java"]
	path = java-projects/Java
	url = https://github.com/TheAlgorithms/Java.git
[submodule "java-projects/interviews"]
	path = java-projects/interviews
	url = https://github.com/kdn251/interviews.git
[submodule "python-projects/Python"]
	path = python-projects/Python
	url = https://github.com/TheAlgorithms/Python.git
